h1 {
    color: #007ba7;
    padding-left: 40%;
}

h2 {
    background-color: #FFFDD0;
    width: 50%;
    margin-left: 35%;
    margin-right: -50%;
    padding: 0 0 0 10%;
    border: black 2px solid;
}

section {
    background-color: #D3D3D3;
    width: 25%;
    padding: 50px 3%;
    margin: 25px 0;
}

.secondList {
    margin-left: 35%;
    margin-top: -16.7%;
}

.lastImage {
    margin-left: 70%;
    margin-top: -20%;
    background-color: white;
}

.frozenJack {
    width: 100%;
}

.hallways{
    width: 100%;
}



